template=flows.json
[
  {
    "id": "8381c865.236028",
    "type": "subflow",
    "name": "Single value",
    "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
    "category": "",
    "in": [
      {
        "x": 40,
        "y": 60,
        "wires": [
          {
            "id": "3c5ffe0d.9063b2"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 780,
        "y": 140,
        "wires": [
          {
            "id": "66397fd3.d8111",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "varfilter",
        "type": "str",
        "value": "",
        "ui": {
          "icon": "font-awesome/fa-filter",
          "label": {
            "en-US": "Variable"
          },
          "type": "input",
          "opts": {
            "types": ["str"]
          }
        }
      }
    ],
    "color": "#3CB4E6"
  },
  {
    "id": "3c5ffe0d.9063b2",
    "type": "switch",
    "z": "8381c865.236028",
    "name": "filter variable",
    "property": "payload.variablename",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "varfilter",
        "vt": "env"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 170,
    "y": 60,
    "wires": [["4e5ba7a5.14dec8"]]
  },
  {
    "id": "4e5ba7a5.14dec8",
    "type": "change",
    "z": "8381c865.236028",
    "name": "keep only table of duplets",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.variabledata",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 60,
    "wires": [["42bc6ed.5b20d9"]]
  },
  {
    "id": "42bc6ed.5b20d9",
    "type": "split",
    "z": "8381c865.236028",
    "name": "Split a table[1..n] of duplets in n msg of single duplet",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 800,
    "y": 60,
    "wires": [["8b8ddb84.6fb208"]]
  },
  {
    "id": "8b8ddb84.6fb208",
    "type": "delay",
    "z": "8381c865.236028",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "10",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "outputs": 1,
    "x": 200,
    "y": 140,
    "wires": [["66397fd3.d8111"]]
  },
  {
    "id": "66397fd3.d8111",
    "type": "change",
    "z": "8381c865.236028",
    "name": "keep only value and delete timestamp",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.y",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "b446c83a074f9979",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "2b450a30d242baeb",
    "type": "ui_chartst",
    "z": "b446c83a074f9979",
    "group": "f9c34dde.1e2f4",
    "name": "myChart",
    "order": 4,
    "width": 15,
    "height": 9,
    "chartType": "line",
    "curveType": "linear",
    "duration": "10",
    "ymin": "",
    "ymax": "",
    "x": 680,
    "y": 440,
    "wires": []
  },
  {
    "id": "86293bfc359890b8",
    "type": "acquisition out",
    "z": "b446c83a074f9979",
    "name": "myProbe_Out",
    "probeconfig": "53f9e4387b1dac74",
    "x": 620,
    "y": 200,
    "wires": []
  },
  {
    "id": "a8deed191f2976cf",
    "type": "acquisition in",
    "z": "b446c83a074f9979",
    "name": "myProbe_In",
    "probeconfig": "53f9e4387b1dac74",
    "x": 210,
    "y": 380,
    "wires": [["8e05d5a293e024bb"], []]
  },
  {
    "id": "7b8f66ebcae78a10",
    "type": "variables",
    "z": "b446c83a074f9979",
    "groupname": "myVariable",
    "accesspoint": 0,
    "execonfig": "3b1b5aef98abec35",
    "variablelist": [
      {"address": "0x20000003", "name": "current_mode", "type": 1},
      {"address": "0x200001ec", "name": "counter_value", "type": 5},
      {"address": "0x200001f4", "name": "adc_dma_val", "type": 5},
      {"address": "0x200001f8", "name": "led_count", "type": 5},
      {"address": "0x20000000", "name": "led_mask_current", "type": 1}
    ],
    "triggerstartmode": "manual",
    "triggername": "counter_value",
    "triggerthreshold": "30000",
    "frequency": "",
    "frequencyType": "0",
    "snapshotheader": "",
    "mode": "direct",
    "lastImportedTime": 1775064090242,
    "openStatus": true,
    "x": 410,
    "y": 220,
    "wires": [["86293bfc359890b8"], []]
  },
  {
    "id": "9699c449ad397571",
    "type": "ui_button",
    "z": "b446c83a074f9979",
    "name": "",
    "group": "f9c34dde.1e2f4",
    "order": 3,
    "width": 5,
    "height": 1,
    "passthru": false,
    "label": "Clear Graphs",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "clear",
    "x": 490,
    "y": 500,
    "wires": [["2b450a30d242baeb"]]
  },
  {
    "id": "985b9dc8110eb3f8",
    "type": "ui_button",
    "z": "b446c83a074f9979",
    "name": "",
    "group": "f9c34dde.1e2f4",
    "order": 1,
    "width": 5,
    "height": 1,
    "passthru": false,
    "label": "START Acquisition",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "start",
    "x": 190,
    "y": 180,
    "wires": [["7b8f66ebcae78a10"]]
  },
  {
    "id": "779cab3c4d9e5c41",
    "type": "ui_button",
    "z": "b446c83a074f9979",
    "name": "",
    "group": "f9c34dde.1e2f4",
    "order": 2,
    "width": 5,
    "height": 1,
    "passthru": true,
    "label": "STOP Acquisition",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "stop",
    "x": 190,
    "y": 260,
    "wires": [["7b8f66ebcae78a10"]]
  },
  {
    "id": "8e05d5a293e024bb",
    "type": "processing",
    "z": "b446c83a074f9979",
    "groupname": "myVariable",
    "groupid": "7b8f66ebcae78a10",
    "expressions": [],
    "statistics": [],
    "logmode": "no",
    "logformat": "stcm",
    "x": 470,
    "y": 380,
    "wires": [["858fdde0db7fc587", "2b450a30d242baeb", "f504e7ce4507b167", "fn_stm32_to_ws"], []]
  },
  {
    "id": "858fdde0db7fc587",
    "type": "subflow:8381c865.236028",
    "z": "b446c83a074f9979",
    "name": "var_led_count",
    "env": [
      {
        "name": "varfilter",
        "value": "led_count",
        "type": "str"
      }
    ],
    "x": 720,
    "y": 300,
    "wires": [["5cb0592546d3943c"]]
  },
  {
    "id": "5cb0592546d3943c",
    "type": "ui_gauge",
    "z": "b446c83a074f9979",
    "name": "",
    "group": "f9c34dde.1e2f4",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "gauge",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "8",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 970,
    "y": 320,
    "wires": []
  },
  {
    "id": "f504e7ce4507b167",
    "type": "subflow:8381c865.236028",
    "z": "b446c83a074f9979",
    "name": "var_current_mode",
    "env": [
      {
        "name": "varfilter",
        "value": "current_mode",
        "type": "str"
      }
    ],
    "x": 730,
    "y": 380,
    "wires": [["567446b22f9e2f5c"]]
  },
  {
    "id": "567446b22f9e2f5c",
    "type": "ui_text",
    "z": "b446c83a074f9979",
    "group": "f9c34dde.1e2f4",
    "order": 10,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "mode:",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 950,
    "y": 400,
    "wires": []
  },
  {
    "id": "f9c34dde.1e2f4",
    "type": "ui_group",
    "name": "Chart",
    "tab": "17d09b07.741a55",
    "order": 1,
    "disp": true,
    "width": 15,
    "collapse": false
  },
  {
    "id": "53f9e4387b1dac74",
    "type": "probe",
    "probeid": "98010702060032524B413836",
    "probename": "ST-Link v2 98010702060032524B413836",
    "protocol": "SWD",
    "frequency": "1.8 MHz - Default",
    "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
    "probeversion": "ST Link firmware version V2.J46",
    "connectionType": "p2p",
    "nickname": ""
  },
  {
    "id": "3b1b5aef98abec35",
    "type": "exe-config",
    "name": "myVariables",
    "exefile": "C:\\Users\\ADVAN\\STM32CubeIDE\\workspace_1.18.0\\project_uts\\Debug\\project_uts.elf",
    "exefolder": "C:\\Users\\ADVAN\\STM32CubeIDE\\workspace_1.18.0\\project_uts\\Debug",
    "exevariablelist": [
      {
        "address": "0x20000274",
        "name": "__sbrk_heap_end",
        "type": 5
      },
      {
        "address": "0x08007c74",
        "name": "_leds[0].pin",
        "type": 3
      },
      {
        "address": "0x08007c74",
        "name": "_leds[0].pin",
        "type": 3
      },
      {
        "address": "0x08007c70",
        "name": "_leds[0].port",
        "type": 5
      },
      {
        "address": "0x08007c70",
        "name": "_leds[0].port",
        "type": 5
      },
      {
        "address": "0x200001f4",
        "name": "adc_dma_val",
        "type": 5,
        "checked": true
      },
      {
        "address": "0x08007d48",
        "name": "AHBPrescTable[0]",
        "type": 1
      },
      {
        "address": "0x200000dc",
        "name": "anim_step",
        "type": 6
      },
      {
        "address": "0x200000dc",
        "name": "anim_step",
        "type": 6
      },
      {
        "address": "0x200000e0",
        "name": "anim_tick",
        "type": 5
      },
      {
        "address": "0x200000e0",
        "name": "anim_tick",
        "type": 5
      },
      {
        "address": "0x08007d58",
        "name": "APBPrescTable[0]",
        "type": 1
      },
      {
        "address": "0x200002c0",
        "name": "b1_tick",
        "type": 5
      },
      {
        "address": "0x200002c4",
        "name": "b2_tick",
        "type": 5
      },
      {
        "address": "0x2000000c",
        "name": "base_window_ms",
        "type": 5
      },
      {
        "address": "0x200000b8",
        "name": "binary_answer",
        "type": 1
      },
      {
        "address": "0x200001fd",
        "name": "binary_count",
        "type": 1
      },
      {
        "address": "0x200001dc",
        "name": "btn1_flag",
        "type": 1
      },
      {
        "address": "0x200001e0",
        "name": "btn1_last_tick",
        "type": 5
      },
      {
        "address": "0x200000d4",
        "name": "btn1_pressed_tick",
        "type": 5
      },
      {
        "address": "0x20000001",
        "name": "btn1_state_prev",
        "type": 1
      },
      {
        "address": "0x200001dd",
        "name": "btn2_flag",
        "type": 1
      },
      {
        "address": "0x200001e4",
        "name": "btn2_last_tick",
        "type": 5
      },
      {
        "address": "0x200000d8",
        "name": "btn2_pressed_tick",
        "type": 5
      },
      {
        "address": "0x20000002",
        "name": "btn2_state_prev",
        "type": 1
      },
      {
        "address": "0x200000c4",
        "name": "charge_speed_ms",
        "type": 5
      },
      {
        "address": "0x200001f0",
        "name": "counter_phase",
        "type": 1
      },
      {
        "address": "0x200001ec",
        "name": "counter_value",
        "type": 5,
        "checked": true
      },
      {
        "address": "0x200000c1",
        "name": "current_led",
        "type": 1
      },
      {
        "address": "0x20000003",
        "name": "current_mode",
        "type": 1,
        "checked": true
      },
      {
        "address": "0x20000010",
        "name": "current_window_ms",
        "type": 5
      },
      {
        "address": "0x20000124",
        "name": "hadc1.DMA_Handle",
        "type": 5
      },
      {
        "address": "0x20000130",
        "name": "hadc1.ErrorCode",
        "type": 5
      },
      {
        "address": "0x200000f0",
        "name": "hadc1.Init.ClockPrescaler",
        "type": 5
      },
      {
        "address": "0x20000104",
        "name": "hadc1.Init.ContinuousConvMode",
        "type": 2
      },
      {
        "address": "0x200000f8",
        "name": "hadc1.Init.DataAlign",
        "type": 5
      },
      {
        "address": "0x2000010c",
        "name": "hadc1.Init.DiscontinuousConvMode",
        "type": 2
      },
      {
        "address": "0x2000011c",
        "name": "hadc1.Init.DMAContinuousRequests",
        "type": 2
      },
      {
        "address": "0x20000100",
        "name": "hadc1.Init.EOCSelection",
        "type": 5
      },
      {
        "address": "0x20000114",
        "name": "hadc1.Init.ExternalTrigConv",
        "type": 5
      },
      {
        "address": "0x20000118",
        "name": "hadc1.Init.ExternalTrigConvEdge",
        "type": 5
      },
      {
        "address": "0x20000108",
        "name": "hadc1.Init.NbrOfConversion",
        "type": 5
      },
      {
        "address": "0x20000110",
        "name": "hadc1.Init.NbrOfDiscConversion",
        "type": 5
      },
      {
        "address": "0x200000f4",
        "name": "hadc1.Init.Resolution",
        "type": 5
      },
      {
        "address": "0x200000fc",
        "name": "hadc1.Init.ScanConvMode",
        "type": 5
      },
      {
        "address": "0x200000ec",
        "name": "hadc1.Instance",
        "type": 5
      },
      {
        "address": "0x20000128",
        "name": "hadc1.Lock",
        "type": 2
      },
      {
        "address": "0x20000120",
        "name": "hadc1.NbrOfCurrentConversionRank",
        "type": 5
      },
      {
        "address": "0x2000012c",
        "name": "hadc1.State",
        "type": 5
      },
      {
        "address": "0x20000188",
        "name": "hdma_adc1.ErrorCode",
        "type": 5
      },
      {
        "address": "0x20000138",
        "name": "hdma_adc1.Init.Channel",
        "type": 5
      },
      {
        "address": "0x2000013c",
        "name": "hdma_adc1.Init.Direction",
        "type": 5
      },
      {
        "address": "0x20000158",
        "name": "hdma_adc1.Init.FIFOMode",
        "type": 5
      },
      {
        "address": "0x2000015c",
        "name": "hdma_adc1.Init.FIFOThreshold",
        "type": 5
      },
      {
        "address": "0x20000160",
        "name": "hdma_adc1.Init.MemBurst",
        "type": 5
      },
      {
        "address": "0x2000014c",
        "name": "hdma_adc1.Init.MemDataAlignment",
        "type": 5
      },
      {
        "address": "0x20000144",
        "name": "hdma_adc1.Init.MemInc",
        "type": 5
      },
      {
        "address": "0x20000150",
        "name": "hdma_adc1.Init.Mode",
        "type": 5
      },
      {
        "address": "0x20000164",
        "name": "hdma_adc1.Init.PeriphBurst",
        "type": 5
      },
      {
        "address": "0x20000148",
        "name": "hdma_adc1.Init.PeriphDataAlignment",
        "type": 5
      },
      {
        "address": "0x20000140",
        "name": "hdma_adc1.Init.PeriphInc",
        "type": 5
      },
      {
        "address": "0x20000154",
        "name": "hdma_adc1.Init.Priority",
        "type": 5
      },
      {
        "address": "0x20000134",
        "name": "hdma_adc1.Instance",
        "type": 5
      },
      {
        "address": "0x20000168",
        "name": "hdma_adc1.Lock",
        "type": 2
      },
      {
        "address": "0x2000016c",
        "name": "hdma_adc1.Parent",
        "type": 5
      },
      {
        "address": "0x20000169",
        "name": "hdma_adc1.State",
        "type": 2
      },
      {
        "address": "0x2000018c",
        "name": "hdma_adc1.StreamBaseAddress",
        "type": 5
      },
      {
        "address": "0x20000190",
        "name": "hdma_adc1.StreamIndex",
        "type": 5
      },
      {
        "address": "0x20000184",
        "name": "hdma_adc1.XferAbortCallback",
        "type": 5
      },
      {
        "address": "0x20000170",
        "name": "hdma_adc1.XferCpltCallback",
        "type": 5
      },
      {
        "address": "0x20000180",
        "name": "hdma_adc1.XferErrorCallback",
        "type": 5
      },
      {
        "address": "0x20000174",
        "name": "hdma_adc1.XferHalfCpltCallback",
        "type": 5
      },
      {
        "address": "0x20000178",
        "name": "hdma_adc1.XferM1CpltCallback",
        "type": 5
      },
      {
        "address": "0x2000017c",
        "name": "hdma_adc1.XferM1HalfCpltCallback",
        "type": 5
      },
      {
        "address": "0x200000d0",
        "name": "highscore",
        "type": 5
      },
      {
        "address": "0x20000294",
        "name": "hit_count_l",
        "type": 5
      },
      {
        "address": "0x20000298",
        "name": "hit_count_r",
        "type": 5
      },
      {
        "address": "0x2000028c",
        "name": "hit_streak",
        "type": 5
      },
      {
        "address": "0x200001d8",
        "name": "huart2.ErrorCode",
        "type": 5
      },
      {
        "address": "0x200001d5",
        "name": "huart2.gState",
        "type": 2
      },
      {
        "address": "0x200001d0",
        "name": "huart2.hdmarx",
        "type": 5
      },
      {
        "address": "0x200001cc",
        "name": "huart2.hdmatx",
        "type": 5
      },
      {
        "address": "0x20000198",
        "name": "huart2.Init.BaudRate",
        "type": 5
      },
      {
        "address": "0x200001ac",
        "name": "huart2.Init.HwFlowCtl",
        "type": 5
      },
      {
        "address": "0x200001a8",
        "name": "huart2.Init.Mode",
        "type": 5
      },
      {
        "address": "0x200001b0",
        "name": "huart2.Init.OverSampling",
        "type": 5
      },
      {
        "address": "0x200001a4",
        "name": "huart2.Init.Parity",
        "type": 5
      },
      {
        "address": "0x200001a0",
        "name": "huart2.Init.StopBits",
        "type": 5
      },
      {
        "address": "0x2000019c",
        "name": "huart2.Init.WordLength",
        "type": 5
      },
      {
        "address": "0x20000194",
        "name": "huart2.Instance",
        "type": 5
      },
      {
        "address": "0x200001d4",
        "name": "huart2.Lock",
        "type": 2
      },
      {
        "address": "0x200001bc",
        "name": "huart2.pRxBuffPtr",
        "type": 5
      },
      {
        "address": "0x200001b4",
        "name": "huart2.pTxBuffPtr",
        "type": 5
      },
      {
        "address": "0x200001c4",
        "name": "huart2.ReceptionType",
        "type": 5
      },
      {
        "address": "0x200001c8",
        "name": "huart2.RxEventType",
        "type": 5
      },
      {
        "address": "0x200001d6",
        "name": "huart2.RxState",
        "type": 2
      },
      {
        "address": "0x200001c2",
        "name": "huart2.RxXferCount",
        "type": 3
      },
      {
        "address": "0x200001c0",
        "name": "huart2.RxXferSize",
        "type": 3
      },
      {
        "address": "0x200001ba",
        "name": "huart2.TxXferCount",
        "type": 3
      },
      {
        "address": "0x200001b8",
        "name": "huart2.TxXferSize",
        "type": 3
      },
      {
        "address": "0x200002a6",
        "name": "is_double_spawn",
        "type": 1
      },
      {
        "address": "0x20000014",
        "name": "last_pos",
        "type": 1
      },
      {
        "address": "0x200002cc",
        "name": "last_reaction_time",
        "type": 5
      },
      {
        "address": "0x200002c8",
        "name": "last_result_type",
        "type": 1
      },
      {
        "address": "0x200001f8",
        "name": "led_count",
        "type": 5,
        "checked": true
      },
      {
        "address": "0x08007cb4",
        "name": "leds[0].pin",
        "type": 3
      },
      {
        "address": "0x08007cb0",
        "name": "leds[0].port",
        "type": 5
      },
      {
        "address": "0x08007d40",
        "name": "LEVEL_LEN[0]",
        "type": 1
      },
      {
        "address": "0x20000009",
        "name": "lives",
        "type": 2
      },
      {
        "address": "0x20000008",
        "name": "max_lives",
        "type": 1
      },
      {
        "address": "0x2000029c",
        "name": "miss_count_l",
        "type": 5
      },
      {
        "address": "0x200002a0",
        "name": "miss_count_r",
        "type": 5
      },
      {
        "address": "0x200001ff",
        "name": "mode6_pattern",
        "type": 1
      },
      {
        "address": "0x200001fe",
        "name": "mode6_step",
        "type": 1
      },
      {
        "address": "0x200000cc",
        "name": "perfect_streak",
        "type": 1
      },
      {
        "address": "0x20000034",
        "name": "pFlash.Address",
        "type": 5
      },
      {
        "address": "0x20000030",
        "name": "pFlash.Bank",
        "type": 5
      },
      {
        "address": "0x2000003c",
        "name": "pFlash.ErrorCode",
        "type": 5
      },
      {
        "address": "0x20000038",
        "name": "pFlash.Lock",
        "type": 2
      },
      {
        "address": "0x20000024",
        "name": "pFlash.NbSectorsToErase",
        "type": 5
      },
      {
        "address": "0x20000020",
        "name": "pFlash.ProcedureOnGoing",
        "type": 2
      },
      {
        "address": "0x2000002c",
        "name": "pFlash.Sector",
        "type": 5
      },
      {
        "address": "0x20000028",
        "name": "pFlash.VoltageForErase",
        "type": 1
      },
      {
        "address": "0x200000c2",
        "name": "released_led",
        "type": 1
      },
      {
        "address": "0x20000214",
        "name": "rg.beat_ms",
        "type": 5
      },
      {
        "address": "0x2000026d",
        "name": "rg.extra_taps",
        "type": 1
      },
      {
        "address": "0x20000211",
        "name": "rg.hint_used",
        "type": 1
      },
      {
        "address": "0x20000218",
        "name": "rg.input_start",
        "type": 5
      },
      {
        "address": "0x20000209",
        "name": "rg.level",
        "type": 1
      },
      {
        "address": "0x20000210",
        "name": "rg.lives",
        "type": 1
      },
      {
        "address": "0x20000212",
        "name": "rg.miss_streak",
        "type": 1
      },
      {
        "address": "0x20000213",
        "name": "rg.pat_len",
        "type": 1
      },
      {
        "address": "0x2000020c",
        "name": "rg.score",
        "type": 5
      },
      {
        "address": "0x20000208",
        "name": "rg.state",
        "type": 2
      },
      {
        "address": "0x2000026c",
        "name": "rg.tap_count",
        "type": 1
      },
      {
        "address": "0x20000244",
        "name": "rg.tap_err[0]",
        "type": 6
      },
      {
        "address": "0x2000021c",
        "name": "rg.tap_ts[0]",
        "type": 5
      },
      {
        "address": "0x20000270",
        "name": "rg_btn2_flag",
        "type": 1
      },
      {
        "address": "0x20000000",
        "name": "round_num",
        "type": 1
      },
      {
        "address": "0x20000288",
        "name": "score",
        "type": 5
      },
      {
        "address": "0x200001e8",
        "name": "shift_pos",
        "type": 1
      },
      {
        "address": "0x20000200",
        "name": "simultaneous_flag",
        "type": 1
      },
      {
        "address": "0x200002b8",
        "name": "spawn_tick",
        "type": 5
      },
      {
        "address": "0x200000b9",
        "name": "state",
        "type": 2
      },
      {
        "address": "0x200000b9",
        "name": "state",
        "type": 2
      },
      {
        "address": "0x200000bc",
        "name": "state_tick",
        "type": 5
      },
      {
        "address": "0x200000bc",
        "name": "state_tick",
        "type": 5
      },
      {
        "address": "0x20000004",
        "name": "SystemCoreClock",
        "type": 5
      },
      {
        "address": "0x200000c0",
        "name": "target_led",
        "type": 1
      },
      {
        "address": "0x200002a4",
        "name": "target_led_1",
        "type": 1
      },
      {
        "address": "0x200002a5",
        "name": "target_led_2",
        "type": 1
      },
      {
        "address": "0x20000290",
        "name": "total_hits",
        "type": 5
      },
      {
        "address": "0x200000c8",
        "name": "total_score",
        "type": 5
      },
      {
        "address": "0x200001fc",
        "name": "train_step",
        "type": 1
      },
      {
        "address": "0x200002d0",
        "name": "uwTick",
        "type": 5
      },
      {
        "address": "0x2000001c",
        "name": "uwTickFreq",
        "type": 2
      },
      {
        "address": "0x20000018",
        "name": "uwTickPrio",
        "type": 5
      },
      {
        "address": "0x200002bc",
        "name": "wg_b1_pressed",
        "type": 1
      },
      {
        "address": "0x200002bd",
        "name": "wg_b2_pressed",
        "type": 1
      },
      {
        "address": "0x200002b4",
        "name": "wg_tim3_running",
        "type": 1
      },
      {
        "address": "0x200002b0",
        "name": "wg_time_remaining",
        "type": 5
      },
      {
        "address": "0x200002ac",
        "name": "wg_timeout_flag",
        "type": 1
      },
      {
        "address": "0x200002a8",
        "name": "wg_window_counter",
        "type": 5
      }
    ],
    "expand": true,
    "filename": "project_uts.elf",
    "exeModifiedTime": 1775052057595,
    "configLastUpdate": 1775064089919
  },
  {
    "id": "17d09b07.741a55",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "3a0eeecd14d2bd50",
    "type": "global-config",
    "env": [],
    "modules": {
      "@stm32/node-red-contrib-stm32cubemonitor": "2.6.0",
      "node-red-dashboard": "3.6.6",
      "node-red-node-serialport": "1.0.3"
    }
  },
  {
    "id": "ws_listener_stm32",
    "type": "websocket-listener",
    "path": "/stm32",
    "wholemsg": "false"
  },
  {
    "id": "fn_stm32_to_ws",
    "type": "function",
    "z": "b446c83a074f9979",
    "name": "STM32 SWD → JSON (debounced)",
    "func": "// Kumpulkan variabel ke flow context, broadcast SEKALI setelah semua variabel masuk (debounce 40ms)\nvar state = flow.get('stm32_state') || {\n  mode: 1, adc: 0, ledMask: 0, counter: 0,\n  score: 0, lives: 3, reactionMs: 0,\n  isrActive: false, isrRemainMs: 0\n};\n\nvar data = msg.payload;\nif (!data || !data.variablename || !data.variabledata || data.variabledata.length === 0) {\n  return null;\n}\n\nvar val = parseFloat(data.variabledata[data.variabledata.length - 1].y);\n\nswitch (data.variablename) {\n  case 'current_mode':    state.mode    = val; break;\n  case 'counter_value':   state.counter = val; break;\n  case 'adc_dma_val':     state.adc     = val; break;\n  case 'led_mask_current': state.ledMask = val; break;\n  case 'led_count':\n    // Fallback: konversi led_count (0-8) ke bitmask hanya jika led_mask_current belum tersedia\n    if (!flow.get('has_led_mask')) {\n      state.ledMask = val === 0 ? 0 : (0xFF00 >> Math.round(val)) & 0xFF;\n    }\n    break;\n}\n\nif (data.variablename === 'led_mask_current') flow.set('has_led_mask', true);\nflow.set('stm32_state', state);\n\n// Debounce: batalkan timer sebelumnya, kirim 40ms setelah update terakhir\nvar t = flow.get('debounce_timer');\nif (t) clearTimeout(t);\nflow.set('debounce_timer', setTimeout(function() {\n  var s = flow.get('stm32_state');\n  if (s) node.send({ payload: JSON.stringify(s) });\n}, 40));\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 460,
    "wires": [["ws_out_stm32"]]
  },
  {
    "id": "serial_port_stm32",
    "type": "serial-port",
    "serialport": "COM3",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false,
    "responsetimeout": "10000"
  },
  {
    "id": "serial_stm32_in",
    "type": "serial in",
    "z": "b446c83a074f9979",
    "name": "STM32 UART (GANTI COM PORT DI serial_port_stm32)",
    "serial": "serial_port_stm32",
    "d": true,
    "x": 210,
    "y": 560,
    "wires": [["fn_serial_parse"]]
  },
  {
    "id": "fn_serial_parse",
    "type": "function",
    "z": "b446c83a074f9979",
    "name": "Parse UART CSV → JSON",
    "func": "// Format UART: \"mode,counter_value,adc_dma_val,led_mask_current\\r\\n\"\nvar line = (msg.payload || '').toString().trim();\nvar parts = line.split(',');\nif (parts.length < 4) return null;\n\nvar mode    = parseInt(parts[0]);\nvar counter = parseInt(parts[1]);\nvar adc     = parseInt(parts[2]);\nvar ledMask = parseInt(parts[3]);\n\nif (isNaN(mode) || isNaN(counter) || isNaN(adc) || isNaN(ledMask)) return null;\nif (mode < 1 || mode > 10) return null;\n\nmsg.payload = JSON.stringify({ mode: mode, counter: counter, adc: adc, ledMask: ledMask });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 560,
    "wires": [["rate_limit_serial"]]
  },
  {
    "id": "rate_limit_serial",
    "type": "delay",
    "z": "b446c83a074f9979",
    "name": "max 20/sec",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "20",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "outputs": 1,
    "x": 680,
    "y": 560,
    "wires": [["ws_out_stm32"]]
  },
  {
    "id": "ws_out_stm32",
    "type": "websocket out",
    "z": "b446c83a074f9979",
    "name": "WS → React Dashboard",
    "server": "ws_listener_stm32",
    "client": "",
    "x": 920,
    "y": 510,
    "wires": []
  }
]
